@*@model sistemadecompras.Models.Register

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Login.css">

<main>
    <div class="contenedor__todo">
        <div class="caja__trasera">
            <div class="caja__trasera-login">
                <h3>¿Ya tienes una cuenta?</h3>
                <p>Inicia sesión para entrar en la página</p>
                <button id="btn__iniciar-sesion">Iniciar Sesión</button>
             
            </div>
            <div class="caja__trasera-register">
                <h3>¿Aún no tienes una cuenta?</h3>
                <p>Regístrate para que puedas iniciar sesión</p>
                <button id="btn__registrarse">Registrarse</button>
            </div>
        </div>

        <div class="contenedor__login-register">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "formulario__login" }))
            {
                <h2>Iniciar Sesión</h2>
                @Html.TextBoxFor(model => model.Gmail, new { placeholder = "Correo Electrónico" })
                @Html.PasswordFor(model => model.Password, new { placeholder = "Contraseña" })
                <button type="submit">Entrar</button>
                <a href="@Url.Action("PasswordRecovery", "Account")">Recuperar Contraseña</a>
            }

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "formulario__register" }))
            {
                <h2>Registrarse</h2>
                @Html.TextBoxFor(model => model.NombreUsuario, new { placeholder = "Nombre completo" })                     
                @Html.TextBoxFor(model => model.Gmail, new { placeholder = "Correo Electrónico" })
                @Html.PasswordFor(model => model.Password, new { placeholder = "Contraseña" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirmar Contraseña" })
                <button type="submit">Registrarse</button>
            }
        </div>
    </div>
</main>

<script src="~/Scripts/Login.js"></script>*@
